/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne.dtsi"

&kscan0 {
        compatible = "zmk,kscan-gpio-matrix";

    col-gpios
        = <&pro_micro 21 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        ;

    row-gpios
        = <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};

/* Bloco de controle de pinos (PINCTRL) */
&pinctrl {
	/* Estado ativo para o barramento I2C */
	i2c0_default: i2c0_default {
		group1 {
			psels = <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,      // Pino SDA
				    <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;      // Pino SCL
		};
	};

	/* Estado de baixo consumo (sleep) para o barramento I2C */
	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <&pro_micro 2 (GPIO_DISCONNECTED)>,
				    <&pro_micro 3 (GPIO_DISCONNECTED)>;
		};
	};
};

/* Bloco de configuração do barramento I2C */
&i2c0 {
	status = "okay";
	/* Link para os estados de pinos definidos acima */
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep"; // <-- CORREÇÃO APLICADA AQUI

	/* Definição do seu display OLED */
	display: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		label = "DISPLAY";
		width = <128>;
		height = <32>;
	};
};