/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne.dtsi"

&kscan0 {
        compatible = "zmk,kscan-gpio-matrix";

    col-gpios
        = <&pro_micro 21 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        ;

    row-gpios
        = <&pro_micro 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};

&pinctrl {
    /* Define um estado/grupo de pinos para o i2c0 */
	i2c0_default: i2c0_default {
		group1 {
            // Atribui os pinos físicos ao barramento I2C
			psels = <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,      // ! IMPORTANTE: Substitua pelo seu pino SDA
				    <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;      // ! IMPORTANTE: Substitua pelo seu pino SCL
		};
	};
};

/* Bloco de configuração do barramento I2C */
&i2c0 {
	status = "okay"; // Ativa o barramento I2C
    /* Link para a configuração de pinos definida acima */
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	/* Definição do seu display OLED */
	display: ssd1306@3c {
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>; // Endereço I2C do display (0x3c ou 0x3d são comuns)
		label = "DISPLAY";
		width = <128>;
		height = <32>;
	};
};